.login-page {
    height: 100vh;
    background-color: $color-dark-blue;
}

.login-form {
    background: white;
    border-radius: 30px;
    padding: 30px;
}

.login-button-wrapper {
    padding-top: 20px;
    width: 100%;
}

.login-button {
    width: 100%;
}